.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.myitalics {
    font-style: italic !important;
}

table.rmdtable {
  border-bottom: 0;
}

.mytable {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0rem;
}

.mytable table, thead, tbody, th, td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 0;
}

.mytable th {
  vertical-align: bottom;
  border-bottom: 2px solid #eceeef;
}

.mytable .mytable {
  background-color: #fff;
}

.mytable tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

#nextsteps {
   color: blue;
}

.emphasized {
   font-size: 1.2em;
}

.comment {
  background-color: #DBDBDB;
  padding: 10px;
  border: 1px solid black;
  margin-left: 25px;
  border-radius: 5px;
}

.trgtable th:nth-child(1) {
  border-right: 2px solid;
  border-bottom: 2px solid;
}

.trgtable th:nth-child(2) {
  border-bottom: 2px solid;
}

.trgtable td:nth-child(1) {
  border-right: 2px solid;
}

slides > backdrop {
  background: white;
}

slides > slide {
  background: linear-gradient(#ffffff, #ffffff 85%, #ffffff);
  background-color: white;
}

blockquote {
  border: 1px solid #b3b3b3;
  border-left: 10px solid #b3b3b3;
  border-radius: 0px;
  background: #fafafa;
  font-size: 18px;
  margin: 10px;
  padding: 10px 20px;
}

blockquote p {
  margin: 0;
  font-style: italic;
  font-size: 80% !important;
  color: brown;
}

.gdbar img {
  width: 164px !important;
  height: 120px !important;
  margin: 8px 8px;
}

.gdbar {
  width: 180px !important;
  height: 140px !important;
}

slides > slide:not(.nobackground):before {
  width: 55px;
  height: 40px;
  background-size: 55px 40px;
}

pre {
  margin:1em; padding:0;
}

footer:after {
  font-size: 6pt;
  content: attr(label);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 70%;
  text-align: center;
  bottom: 20px;
  line-height: 1.5;
  display: block;
}

h2 {
  color: #00338D;
}
